<section class="vh-150 gradient-custom">
    <div class="container py-5 h-10">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">{{titulo}}
                      <div *ngIf="loading"
                        class="spinner-border float-rigth"
                        role="status">
                        <span class="sr-only">
                          Loading...
                        </span>
                      </div>

              </h3>

              <span *ngIf="submitted &&createAdmin.invalid" class="badge badge-danger" >TODOS LOS CAMPOS SON NECESARIOS :</span>
              <form class="mt-4"[formGroup]="createAdmin" (ngSubmit)="addEditAdmin()">
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input  type="text" 
                              id="firstName" 
                              class="form-control form-control-lg" 
                              placeholder="Ingrese el Nombre" 
                              formControlName="name"
                   
                              />
                      <label class="form-label" for="firstName">Nombres</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input  type="text" 
                              id="lastName" 
                              class="form-control form-control-lg" 
                              placeholder="Ingrese los Apellidos"
                              formControlName="lastname"
                
                               />
                      <label class="form-label" for="lastName">Apellidos</label>
                    </div>

                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input  type="date" 
                              class="form-control form-control-lg" 
                              id="birthdayDate" 
                              placeholder="Ingrese la fecha de Nacimiento" 
                              formControlName="birthday"
                             
                              />
                      <label for="birthdayDate" class="form-label">Fecha de Nacimiento</label>
                    </div>
  
                  </div>


                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input  type="date" 
                              class="form-control form-control-lg" 
                              id="birthdayDate" 
                              placeholder="Ingrese la fecha de Nacimiento" 
                              formControlName="startDate"
                             
                              />
                      <label for="birthdayDate" class="form-label">Fecha de Ingreso a la empresa</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input 
                      type="email" id="emailAddress"
                      class="form-control form-control-lg" 
                      placeholder="Ingrese su correo electrónico"
                      formControlName="email"
                      />
                      <label class="form-label" for="emailAddress">Correo Electronico</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input  type="number" 
                              id="phoneNumber" 
                              class="form-control form-control-lg" 
                              placeholder="Ingrese su número de celular"
                              formControlName="cellPhone"
                              />
                      <label class="form-label" for="phoneNumber">Celular</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input  type="text" 
                                id="dni-customer" 
                                class="form-control form-control-lg" 
                                placeholder="Ingrese su DNI" 
                                formControlName="dni"
                                />
                        <label class="form-label" for="dni">Numero de Documento de Indentidad</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input  type="text" 
                                id="deptop" 
                                class="form-control form-control-lg" 
                                placeholder="Ciudad" 
                                formControlName="city"
                                
                                />
                        <label class="form-label" for="Departamento">Departamento</label>
                      </div>
    
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input  type="password" 
                                id="pass" 
                                class="form-control form-control-lg" 
                                placeholder="Ingrese su contraseña" 
                                formControlName="password"
                                
                                />
                        <label class="form-label-pass" for="pass">Contrasena</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input  type="password" 
                                id="rep_pass" 
                                class="form-control form-control-lg" 
                                placeholder="Repita la contraseña"
                                formControlName="password"
                                />
                        <label class="form-label-pass" for="pass">Repita la Contrasena</label>
                      </div>
    
                    </div>
                  </div>
  
                <div class="row">
                    <div class="col-md-5 mb-3 pb-2">
                      <button class="btn btn-success btn-lg px-5" >Registrar Cliente</button>
                    </div>

                    <div class="col-md-5 mb-3 pb-2">
                        <input class="btn btn-danger btn-lg" type="submit" value="CANCELAR" />
                    </div>
                </div>


                
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>