<div class="container__card">

    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(https://cdn4.vectorstock.com/i/1000x1000/89/13/user-login-icon-vector-21078913.jpg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>INICIAR SESION</h1>
                    
                    <input type="button" class="btn btn-success" onclick="location.href='customer/Log-In';" value="INICIAR SESION" />
                </div>
            </div>
            

        </div>
    </div>

    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(https://cdn-icons-png.flaticon.com/512/2039/2039060.png);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>REGISTRATE</h1>
                
                    <input type="button" class="btn btn-success" onclick="location.href='customer/Sign-Up';" value="REGISTRATE" />
                </div>
                
            </div>


        </div>
    </div>


</div>