<div class="container-sm">
    <div class="position top-50 start-50">
      <h1>
        <input type="button" class="btn btn-success" onclick="location.href='admin/managment-products/create-product';" value="Agregar Nuevo Producto" />
    </h1>
    </div>
    <div class="card" style="width: 85rem;">
      <div class="card-body">
  
        <div class="position-absolute start-50 translate-middle">
          <h1 class="card-title"><b>Lista de Productos</b></h1>
        </div>
          <h5 *ngIf="products.length == 0">NO HAY DATOS PARA MOSTRAR</h5>
        <table *ngIf="products.length > 0" class="table table-striped mt-5">
     
          <thead>
            <tr>
          <th scope="col">Item</th>
          <th scope="col">Producto</th>
          <th scope="col">Modelo</th>
          <th scope="col">Marca</th>
          <th scope="col">Serial</th>
          <th scope="col">Color</th>
          <th scope="col">Categoria</th>
          <th scope="col">Precio de Compra  </th>
          <th scope="col">Precio de Venta </th>
          <th scope="col">Stock</th>
          <th scope="col">Image</th>
          
          <th scope="col">Accion</th>
      
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.productID}}</td>
          
          <td>{{product.productName}}</td>
          <td>{{product.productModel}}</td>
          <td>{{product.productBranch}}</td>
          <td>{{product.productSerial}}</td>
          <td>{{product.productColor}}</td>
          <td>{{product.productCategory}}</td>
          <td>{{product.productPriceFromBuy | currency}}</td>
          <td>{{product.productPriceToSell | currency}}</td>
          <td>{{product.productStock}}</td>
          <td>{{product.productImage}}</td>
          
          

          <td>
            <div>
             <button [routerLink]="['/admin/managment-products/edit-product/',product.id]" class="btn btn-success" style="margin: 10px" type="btnEdit" >Editar</button>
             <button (click)="deleteProducts(product.id)" name="btnDelete" style="margin: 10px"  class="btn btn-danger"
              mwlConfirmationPopover

             placement= "left"
             
             >Eliminar</button>
  
            </div>
            
            </td>
        </tr>  
      </tbody>
    </table>
  </div>