<div class="tittle">
    <h1>AMINISTRACION DE LA EMPRESA</h1>
</div>
<div class="container__card">
    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url();">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>CATEGORIAS
                        <input  type="button" 
                                class="btn btn-info" 
                                onclick="location.href='admin/managment-categories';" 
                                value="VER MAS" />
                    </h1> 
                </div>
            </div>
        </div>
    </div>
    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url();">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>PRODUCTOS
                        <input  type="button" 
                                class="btn btn-info" 
                                onclick="location.href='admin/managment-products';" 
                                value="VER MAS" />
                    </h1>
                    
                </div>
            </div>
        </div>
    </div>
  <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url();">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>PERSONAL
                        <input  
                        type="button" 
                        class="btn btn-info" 
                        onclick="location.href='admin/managment-admins';" 
                        value="VER MAS" />
                    </h1>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url();">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>RECIBOS <BR>
                        <input  
                        type="button" 
                        class="btn btn-info" 
                        onclick="location.href='admin/managment-bills';" 
                        value="VER MAS" />
                    </h1>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url();">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>VENTAS <BR>
                        <input  
                        type="button" 
                        class="btn btn-info" 
                        onclick="location.href='admin/managment-sales';" 
                        value="VER MAS" />
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url();">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>STOCK <BR>
                        <input  
                        type="button" 
                        class="btn btn-info" 
                        onclick="location.href='admin/managment-stock';" 
                        value="VER MAS" />
                       </h1>
                </div>
            </div>
        </div>
    </div>
</div>
