<div class="container-sm">
    <div class="position top-20 start-20">
      <h1>
        <input type="button" class="btn btn-success" onclick="location.href='admin/Sign-up';" value="Agregar Nuevo Administrador" />
    </h1>
    </div>
    <div class="card" style="width: 90rem;">
      <div class="card-body">
  
        <div class="position-absolute start-50 translate-middle">
          <h1 class="card-title"><b>Lista Usuarios Administradores</b></h1>
        </div>
  
        <table class="table table-sm">
     
          <thead>
            <tr>
          <th scope="col">Item</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Pais</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Fecha de Ingreso</th>
          <th scope="col">Fecha de Nacimiento</th>
          <th scope="col">Celular</th>
          <th scope="col">DNI</th>
      
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of admins">
          <th scope="row">{{admin.admins_id}}</th>
          <td>{{admin.name}}</td>
          <td>{{admin.lastname}}</td>
          <td>{{admin.email}}</td>
          <td>{{admin.country}}</td>
          <td>{{admin.city}}</td>
          <td>{{admin.birthday}}</td>
          <td>{{admin.startDate}}</td>
          
          <td>{{admin.cellPhone}}</td>
          <td>{{admin.dni}}</td>
  
          

          <td>
            <div>
             <button class="btn btn-success" style="margin: 10px" type="btnEdit" >Editar</button>
             <button  name="btnDelete" style="margin: 10px"  class="btn btn-danger"
             mwlConfirmationPopover

             placement= "left"
             
             >Eliminar</button>
  
            </div>
            
            </td>
        </tr>  
      </tbody>
    </table>
  </div>